<h1 id="julians-krita-plugins">Julian’s Krita Plugins</h1>
<p>Some plugins I’ve written to help automate my workflow.</p>
<ul>
<li>Batch export using file types, multiple sizes, scaling types and
crops</li>
<li>Center current layer</li>
<li>Group and insert white background on selected layers</li>
<li>Group selected layer with the same properties, reset layer to
normal</li>
</ul>
<h1 id="usage">Usage</h1>
<p>All tools are under the ‘Tools’ menu.</p>
<h2 id="batch-export">Batch Export</h2>
<p>Keyboard Shortcut: <kbd>Ctrl</kbd> + <kbd>Alt</kbd> +
<kbd>Shift</kbd> + <kbd>E</kbd></p>
<p>Batch export the project based on parameters on the layer. Uses the
same syntax as the Batch Exporter plugin that comes with Krita.</p>
<p>Options:</p>
<ul>
<li><code>[e=jpg,png]</code>*: export format. Required for the plugin to
export</li>
<li><code>[s=100,200,400]</code>*: scaling sizes in %</li>
<li><code>[in=smooth,fast]</code>: image scaling type</li>
<li><code>[c=0;0;100;100,0;0;50;50]</code>: crop dimensions in %</li>
</ul>
<p>* are the same syntax as the Batch Exporter plugin</p>
<h3 id="example">Example</h3>
<p>Current project file is stored at <code>/path/to/project.kra</code>
with a layer with the name set as
<code>Paint Layer e=png s=100,200</code>. Running the Batch Export tool
will export the layer as a .png with 1x scale and 2x scale.</p>
<p>This will create the following files:</p>
<ul>
<li><code>/path/to/project_Paint Layer@100%_c0,0,100,100_smooth.png</code></li>
<li><code>/path/to/project_Paint Layer@200%_c0,0,100,100_smooth.png</code></li>
</ul>
<h2 id="center">Center</h2>
<p>Using the currently selected layer, crop to the layer, then crop to
the original image size.</p>
<h2 id="group-and-fill">Group and Fill</h2>
<p>Using the selected layer, group and insert a white fill layer as the
background for the group.</p>
<h2 id="promote-to-group">Promote to Group</h2>
<p>Using the selected layer, create a group with the same properties
containing the selected layer. Selected layer’s opacity is set to opaque
and blending mode is set to normal. There should be no visual change to
the image.</p>
